<div class="container">
    <h2>{{ isEditMode ? 'Edit User' : 'Add User' }}</h2>
    <form (ngSubmit)="saveUser()">
        <div class="form-group">
            <label for="name">Name</label>
            <input [(ngModel)]="user.name" name="name" type="text" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input [(ngModel)]="user.email" name="email" type="text" class="form-control"/>
        </div>
        <button type="submit" class="btn btn-primary">
            Save user
        </button>
    </form>
</div>